WITH Отгрузки AS (SELECT MAX(RIGHT(ДокументыОтгрузки.Счет,9)) Счет,
                MAX(LEFT(ДокументыОтгрузки.ДатаИВремя,14)) ДатаИВремяДокумента,
                ДокументыОтгрузки.Ссылка Ссылка,
                MAX(ДокументыОтгрузки.ВидДок) Ссылка_вид,
                SUM(ДокументыОтгрузки.СуммаДокумента) СуммаДокумента,
                CASE WHEN CONVERT(DATETIME,'19000101') = CONVERT(DATETIME,MAX(ДокументыОтгрузки.ДатаОтсрочки))
                            OR CONVERT(DATETIME,'17530101') = CONVERT(DATETIME,MAX(ДокументыОтгрузки.ДатаОтсрочки))
                            THEN CONVERT(DATETIME,MAX(ДокументыОтгрузки.ДатаДок))
                ELSE CONVERT(DATETIME,MAX(ДокументыОтгрузки.ДатаОтсрочки))
                END ДатаОтсрочки,
                MAX(ДокументыОтгрузки.СинонимДокументаОтгрузки) СинонимДокументаОтгрузки,
                MAX(ДокументыОтгрузки.СинонимСчета) СинонимСчета
FROM ( SELECT Расходная.sp663 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                Расходная.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               Жур.sp2111 СуммаДокумента,
                Расходная.sp8074 ДатаОтсрочки,
                CAST(LEFT(Жур.DATE_TIME_IDDOC,8) AS DATETIME) ДатаДок,
                'Расходная накладная № ' + RTRIM(Жур.DOCNO) + ' от ' + RTRIM(LTRIM(CONVERT(CHAR(15),CONVERT(DATETIME,(CONVERT(VARCHAR(8),Жур.Date_Time_IDDoc)),112),4))) СинонимДокументаОтгрузки,
                'Счет № ' + RTRIM(Жур2.DOCNO) + ' от ' + RTRIM(LTRIM(CONVERT(CHAR(15),CONVERT(DATETIME,(CONVERT(VARCHAR(8),Жур2.Date_Time_IDDoc)),112),4))) СинонимСчета
        FROM dh633 Расходная with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = Расходная.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(Расходная.sp663,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE Расходная.sp663 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT Заявка.sp10436,
                LEFT(Жур.DATE_TIME_IDDOC,14),
                Заявка.IDDOC,
                Жур.IDDOCDEF,
               --Жур.$ОбщийРеквизит.СуммаДок
                ПрофитПоДокументу.СуммаВГ,
                Заявка.sp10432,
                CAST(LEFT(Жур.DATE_TIME_IDDOC,8) AS DATETIME),
                'Заявка на сборку № ' + RTRIM(Жур.DOCNO) + ' от ' + RTRIM(LTRIM(CONVERT(CHAR(15),CONVERT(DATETIME,(CONVERT(VARCHAR(8),Жур.Date_Time_IDDoc)),112),4))),
                'Счет № ' + RTRIM(Жур2.DOCNO) + ' от ' + RTRIM(LTRIM(CONVERT(CHAR(15),CONVERT(DATETIME,(CONVERT(VARCHAR(8),Жур2.Date_Time_IDDoc)),112),4))) СинонимСчета
        FROM dh10502 Заявка with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = Заявка.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(Заявка.sp10436,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        LEFT JOIN (SELECT Профит.IDDOC ДокументДвижения,
                        SUM(Профит.sp10404) СуммаВГ
                    FROM ra9500 Профит
                    GROUP BY Профит.IDDOC) ПрофитПоДокументу ON Заявка.IDDOC = ПрофитПоДокументу.ДокументДвижения
        WHERE Заявка.sp10436 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1 AND
            Заявка.IDDOC IN (SELECT RIGHT(ОтветственноеХранениеКонОстатки.Накладная,9)
            FROM (
select
rg1139_vt.sp1143 as Договор,
rg1139_vt.sp1141 as Товар,
rg1139_vt.sp1494 as ГТД,
rg1139_vt.sp2736 as Страна,
rg1139_vt.sp2737 as Накладная,
rg1139_vt.sp1142 as КоличествоОстаток
from rg1139 as rg1139_vt (nolock)
where rg1139_vt.period={d '2021-11-01'}
and (
rg1139_vt.sp1142 <> 0
)
) as ОтветственноеХранениеКонОстатки
            WHERE LEFT(ОтветственноеХранениеКонОстатки.Договор,4) = '  2S')
        UNION ALL
        SELECT ВозвратнаяПриходная.sp9222,
                LEFT(Жур.DATE_TIME_IDDOC,14),
                RIGHT(ВозвратнаяПриходная.sp9225,9),
                Жур3.IDDOCDEF,
               --Жур.$ОбщийРеквизит.СуммаДок
                ПрофитПоДокументу.СуммаВГ,
                '',
                CAST(LEFT(Жур3.DATE_TIME_IDDOC,8) AS DATETIME),
                '',
                ''
        FROM dh9269 ВозвратнаяПриходная with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ВозвратнаяПриходная.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ВозвратнаяПриходная.sp9222,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        LEFT JOIN _1sjourn Жур3 with (nolock) ON Жур3.IDDOC = RIGHT(ВозвратнаяПриходная.sp9225,9)
        LEFT JOIN (SELECT Профит.IDDOC ДокументДвижения,
                        SUM(Профит.sp10404) СуммаВГ
                    FROM ra9500 Профит
                    GROUP BY Профит.IDDOC) ПрофитПоДокументу ON ВозвратнаяПриходная.IDDOC  = ПрофитПоДокументу.ДокументДвижения
        WHERE ВозвратнаяПриходная.sp9222 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            LEFT(ВозвратнаяПриходная.sp9225,4) <> ' 14J' AND
            Жур.Closed & 1 = 1) ДокументыОтгрузки
GROUP BY ДокументыОтгрузки.Ссылка
HAVING SUM(ДокументыОтгрузки.СуммаДокумента) <> 0
--ORDER BY MAX(RIGHT(ДокументыОтгрузки.Счет,9)),MAX(LEFT(ДокументыОтгрузки.ДатаИВремя,8))
),
Оплаты AS (SELECT MAX(RIGHT(ДокументыОплаты.Счет,9)) Счет,
                MAX(LEFT(ДокументыОплаты.ДатаИВремя,8)) ДатаДокумента,
                ДокументыОплаты.Ссылка Ссылка,
                SUM(ДокументыОплаты.СуммаДокумента) СуммаДокумента,
                MAX(ДокументыОплаты.ВидДок) Ссылка_вид
FROM ( SELECT ПКО.sp10881 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                ПКО.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               Жур.sp2111 СуммаДокумента
        FROM dh10912 ПКО with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ПКО.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ПКО.sp10881,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE ПКО.sp10881 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT ПКО_Отложенный.sp6653 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                ПКО_Отложенный.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               Жур.sp2111 СуммаДокумента
        FROM dh6683 ПКО_Отложенный with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ПКО_Отложенный.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ПКО_Отложенный.sp6653,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE ПКО_Отложенный.sp6653 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT ПриходДенег.sp2324 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                ПриходДенег.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               Жур.sp2111 СуммаДокумента
        FROM dh2311 ПриходДенег with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ПриходДенег.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ПриходДенег.sp2324,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE ПриходДенег.sp2324 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT ОпределениеПрихода.sp3933 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                ОпределениеПрихода.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               Жур.sp2111 СуммаДокумента
        FROM dh3949 ОпределениеПрихода with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ОпределениеПрихода.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ОпределениеПрихода.sp3933,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE ОпределениеПрихода.sp3933 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT КорректировкаПлатежаПриход.sp8834 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                КорректировкаПлатежаПриход.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               Жур.sp2111 СуммаДокумента
        FROM dh8837 КорректировкаПлатежаПриход with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = КорректировкаПлатежаПриход.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(КорректировкаПлатежаПриход.sp8834,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE КорректировкаПлатежаПриход.sp8834 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT Расходная.sp663 Счет,
                LEFT(Жур.DATE_TIME_IDDOC,14) ДатаИВремя,
                ОтчетОДоставках.IDDOC Ссылка,
                Жур.IDDOCDEF ВидДок,
               ОтчетОДоставкахСтроки.sp12940 СуммаДокумента
        FROM dt12944 ОтчетОДоставкахСтроки with (nolock)
        LEFT JOIN dh12944 ОтчетОДоставках ON ОтчетОДоставкахСтроки.IDDOC = ОтчетОДоставках.IDDOC
        LEFT JOIN dh633 Расходная ON RIGHT(ОтчетОДоставкахСтроки.sp12935,9) = Расходная.IDDOC
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ОтчетОДоставках.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(Расходная.sp663,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        WHERE Расходная.sp663 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT ВозвратДенегНаличный.sp13405,
                LEFT(Жур.DATE_TIME_IDDOC,14),
                RIGHT(ВозвратДенегНаличный.sp13404,9),
                Жур3.IDDOCDEF,
               -Жур.sp2111
        FROM dh13398 ВозвратДенегНаличный with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ВозвратДенегНаличный.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ВозвратДенегНаличный.sp13405,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        LEFT JOIN _1sjourn Жур3 with (nolock) ON Жур3.IDDOC = RIGHT(ВозвратДенегНаличный.sp13404,9)
        WHERE ВозвратДенегНаличный.sp13405 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT ПлатежноеПоручение.sp2254,
                LEFT(Жур.DATE_TIME_IDDOC,14),
                RIGHT(ПлатежноеПоручение.sp2266,9),
                Жур3.IDDOCDEF,
               -Жур.sp2111
        FROM dh2241 ПлатежноеПоручение with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = ПлатежноеПоручение.IDDOC
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ПлатежноеПоручение.sp2254,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        LEFT JOIN _1sjourn Жур3 with (nolock) ON Жур3.IDDOC = RIGHT(ПлатежноеПоручение.sp2266,9)
        WHERE ПлатежноеПоручение.sp2254 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1
        UNION ALL
        SELECT ПриходДенегКорректировки.sp2324,
                LEFT(Жур.DATE_TIME_IDDOC,14),
                RIGHT(КорректировкаПлатежаВозврат.sp8829,9),
                Жур3.IDDOCDEF,
               -Жур.sp2111
        FROM dh8837 КорректировкаПлатежаВозврат with (nolock)
        LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = КорректировкаПлатежаВозврат.IDDOC
        LEFT JOIN dh2311 ПриходДенегКорректировки with (nolock) ON ПриходДенегКорректировки.IDDOC = RIGHT(КорректировкаПлатежаВозврат.sp8829,9)
        LEFT JOIN dh100 Счет with (nolock) ON Счет.IDDOC = RIGHT(ПриходДенегКорректировки.sp2324,9)
        LEFT JOIN _1sjourn Жур2 with (nolock) ON Жур2.IDDOC = Счет.IDDOC
        LEFT JOIN _1sjourn Жур3 with (nolock) ON Жур3.IDDOC = RIGHT(КорректировкаПлатежаВозврат.sp8829,9)
        WHERE ПриходДенегКорректировки.sp2324 IN (SELECT ДоговораСПокупателямиКонОстатки.Документ
            FROM (
select
rb750_vt.Клиент,
rb750_vt.Документ,
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) as ДоговорНачальныйОстаток,
sum(rb750_vt.ДоговорПриход) as ДоговорПриход,
sum(rb750_vt.ДоговорРасход) as ДоговорРасход,
sum(rb750_vt.ДоговорОстаток) as ДоговорКонечныйОстаток,
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяНачальныйОстаток,
sum(rb750_vt.ОжидаетсяПриход) as ОжидаетсяПриход,
sum(rb750_vt.ОжидаетсяРасход) as ОжидаетсяРасход,
sum(rb750_vt.ОжидаетсяОстаток) as ОжидаетсяКонечныйОстаток,
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоНачальныйОстаток,
sum(rb750_vt.ЗарезервированоПриход) as ЗарезервированоПриход,
sum(rb750_vt.ЗарезервированоРасход) as ЗарезервированоРасход,
sum(rb750_vt.ЗарезервированоОстаток) as ЗарезервированоКонечныйОстаток,
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) as НаХраненииНачальныйОстаток,
sum(rb750_vt.НаХраненииПриход) as НаХраненииПриход,
sum(rb750_vt.НаХраненииРасход) as НаХраненииРасход,
sum(rb750_vt.НаХраненииОстаток) as НаХраненииКонечныйОстаток,
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) as ПотребностьНачальныйОстаток,
sum(rb750_vt.ПотребностьПриход) as ПотребностьПриход,
sum(rb750_vt.ПотребностьРасход) as ПотребностьРасход,
sum(rb750_vt.ПотребностьОстаток) as ПотребностьКонечныйОстаток,
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияНачальныйОстаток,
sum(rb750_vt.РезервОжиданияПриход) as РезервОжиданияПриход,
sum(rb750_vt.РезервОжиданияРасход) as РезервОжиданияРасход,
sum(rb750_vt.РезервОжиданияОстаток) as РезервОжиданияКонечныйОстаток,
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) as ВПутиНачальныйОстаток,
sum(rb750_vt.ВПутиПриход) as ВПутиПриход,
sum(rb750_vt.ВПутиРасход) as ВПутиРасход,
sum(rb750_vt.ВПутиОстаток) as ВПутиКонечныйОстаток
from (
select
ra750_vt.sp752 as Клиент,
ra750_vt.sp753 as Документ,
case when ra750_vt.debkred = 0 then ra750_vt.sp1242 else 0 end as ДоговорПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp1242 else 0 end as ДоговорРасход,
0 as ДоговорОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp930 else 0 end as ОжидаетсяПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp930 else 0 end as ОжидаетсяРасход,
0 as ОжидаетсяОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp931 else 0 end as ЗарезервированоПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp931 else 0 end as ЗарезервированоРасход,
0 as ЗарезервированоОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp934 else 0 end as НаХраненииПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp934 else 0 end as НаХраненииРасход,
0 as НаХраненииОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7710 else 0 end as ПотребностьПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7710 else 0 end as ПотребностьРасход,
0 as ПотребностьОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7711 else 0 end as РезервОжиданияПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7711 else 0 end as РезервОжиданияРасход,
0 as РезервОжиданияОстаток,
case when ra750_vt.debkred = 0 then ra750_vt.sp7712 else 0 end as ВПутиПриход,
case when ra750_vt.debkred = 1 then ra750_vt.sp7712 else 0 end as ВПутиРасход,
0 as ВПутиОстаток
from ra750 as ra750_vt (nolock)
where ra750_vt.date_time_iddoc > \'''' + date_today + '''\' and ra750_vt.date_time_iddoc < \'''' + last_doc[0][0] + ''' 0\'
union all
select
rg750_vt.sp752 as Клиент,
rg750_vt.sp753 as Документ,
0,
0,
rg750_vt.sp1242 as ДоговорОстаток,
0,
0,
rg750_vt.sp930 as ОжидаетсяОстаток,
0,
0,
rg750_vt.sp931 as ЗарезервированоОстаток,
0,
0,
rg750_vt.sp934 as НаХраненииОстаток,
0,
0,
rg750_vt.sp7710 as ПотребностьОстаток,
0,
0,
rg750_vt.sp7711 as РезервОжиданияОстаток,
0,
0,
rg750_vt.sp7712 as ВПутиОстаток
from rg750 as rg750_vt (nolock)
where rg750_vt.period={d '2021-11-01'}
) as rb750_vt
group by
rb750_vt.Клиент,
rb750_vt.Документ
having
sum(rb750_vt.ДоговорОстаток) - sum(rb750_vt.ДоговорПриход) + sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорПриход) <> 0 or
sum(rb750_vt.ДоговорРасход) <> 0 or
sum(rb750_vt.ДоговорОстаток) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) - sum(rb750_vt.ОжидаетсяПриход) + sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяПриход) <> 0 or
sum(rb750_vt.ОжидаетсяРасход) <> 0 or
sum(rb750_vt.ОжидаетсяОстаток) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) - sum(rb750_vt.ЗарезервированоПриход) + sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоПриход) <> 0 or
sum(rb750_vt.ЗарезервированоРасход) <> 0 or
sum(rb750_vt.ЗарезервированоОстаток) <> 0 or
sum(rb750_vt.НаХраненииОстаток) - sum(rb750_vt.НаХраненииПриход) + sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииПриход) <> 0 or
sum(rb750_vt.НаХраненииРасход) <> 0 or
sum(rb750_vt.НаХраненииОстаток) <> 0 or
sum(rb750_vt.ПотребностьОстаток) - sum(rb750_vt.ПотребностьПриход) + sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьПриход) <> 0 or
sum(rb750_vt.ПотребностьРасход) <> 0 or
sum(rb750_vt.ПотребностьОстаток) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) - sum(rb750_vt.РезервОжиданияПриход) + sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияПриход) <> 0 or
sum(rb750_vt.РезервОжиданияРасход) <> 0 or
sum(rb750_vt.РезервОжиданияОстаток) <> 0 or
sum(rb750_vt.ВПутиОстаток) - sum(rb750_vt.ВПутиПриход) + sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиПриход) <> 0 or
sum(rb750_vt.ВПутиРасход) <> 0 or
sum(rb750_vt.ВПутиОстаток) <> 0
) as ДоговораСПокупателямиКонОстатки
            WHERE LEFT(ДоговораСПокупателямиКонОстатки.Документ,4) = '  2S') AND
            Жур2.DATE_TIME_IDDOC >= '20210101' AND
            Жур.Closed & 1 = 1) ДокументыОплаты
GROUP BY ДокументыОплаты.Ссылка
HAVING SUM(ДокументыОплаты.СуммаДокумента) <> 0
--ORDER BY MAX(RIGHT(ДокументыОплаты.Счет,9)),MAX(LEFT(ДокументыОплаты.ДатаИВремя,8))
)
SELECT --MAX(Контакты.DESCR),
        --Отгрузки.Счет [Счет $Документ.Счет],
        Отгрузки.ДатаИВремяДокумента ДатаДокумента,
        Отгрузки.Ссылка [ДокументОтгрузки $Документ],
        MAX(Отгрузки.Ссылка_вид) ДокументОтгрузки_вид,
        --MAX(Отгрузки.СуммаДокумента) СуммаДокумента,
        --coalesce(sum(t2.СуммаДокумента), 0) as НакоплениеСуммы,
        --MAX(ЗапросФильтра.Оплачено) ОплаченоПоСчету,
       CASE WHEN MAX(ЗапросФильтра.Оплачено) > (coalesce(sum(t2.СуммаДокумента), 0) - MAX(Отгрузки.СуммаДокумента)) THEN
            CASE WHEN MAX(Отгрузки.СуммаДокумента) < (MAX(ЗапросФильтра.Оплачено) - (coalesce(sum(t2.СуммаДокумента), 0) - MAX(Отгрузки.СуммаДокумента))) THEN MAX(Отгрузки.СуммаДокумента)
            ELSE MAX(Отгрузки.СуммаДокумента) - (MAX(ЗапросФильтра.Оплачено) - (coalesce(sum(t2.СуммаДокумента), 0) - MAX(Отгрузки.СуммаДокумента)))
            END
        ELSE
           MAX(Отгрузки.СуммаДокумента)
        END НеОплаченныйОстатокНаДокумент ,
        --MAX(Отгрузки.ДатаОтсрочки) ДатаОтсрочки,
        (CONVERT(INT,(Отгрузки.ДатаОтсрочки - \'''' + date_today + '''\'))) ДнейПросрочки,
        MAX(Клиенты.sp81) ИНН,
        MAX(Контакты.Code) КодКонтакта,
        --MAX(Отгрузки.СинонимСчета) СинонимСчета,
        MAX(Отгрузки.СинонимДокументаОтгрузки) СинонимДокументаОтгрузки
FROM Отгрузки
INNER JOIN(SELECT Результат.Счет Счет,
        SUM(Результат.ОтгруженоНеоплачено) ОтгруженоНеоплачено,
        SUM(Результат.СуммаОтгрузки) Отгружено,
        SUM(Результат.СуммаОплаты) Оплачено
FROM(SELECT Отгрузки.Счет Счет,
        Отгрузки.СуммаДокумента ОтгруженоНеоплачено,
        Отгрузки.СуммаДокумента СуммаОтгрузки,
       0 СуммаОплаты
FROM Отгрузки
UNION ALL
SELECT Оплаты.Счет,
        -Оплаты.СуммаДокумента,
       0,
        Оплаты.СуммаДокумента
FROM Оплаты) Результат
GROUP BY Результат.Счет
HAVING SUM(Результат.ОтгруженоНеоплачено) > 0) ЗапросФильтра ON ЗапросФильтра.Счет = Отгрузки.Счет
INNER JOIN Отгрузки t2 on Отгрузки.Счет = t2.Счет and t2.ДатаИВремяДокумента <= Отгрузки.ДатаИВремяДокумента
LEFT JOIN dh100 Счета with (nolock) ON Счета.IDDOC = Отгрузки.Счет
LEFT JOIN _1sjourn Жур with (nolock) ON Жур.IDDOC = Отгрузки.Счет
LEFT JOIN sc72 Контакты with (nolock) ON Контакты.ID = Жур.sp4451
LEFT JOIN sc79 Клиенты with (nolock) ON Клиенты.ID = Жур.sp5321
GROUP BY Отгрузки.Счет,Отгрузки.ДатаИВремяДокумента,Отгрузки.Ссылка,(CONVERT(INT,(Отгрузки.ДатаОтсрочки - \'''' + date_today + '''\')))
HAVING (coalesce(sum(t2.СуммаДокумента), 0) > MAX(ЗапросФильтра.Оплачено))
ORDER BY MAX(Контакты.DESCR),Отгрузки.Счет,Отгрузки.ДатаИВремяДокумента