{% extends 'base/base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
    <style>
    .btn-outline-primary:hover {
        background-color: #195fb2;
    }
    .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Обзор";
    }
    input[type=range]{
       height: 2px;
        margin-top: 10px;
        background-color: #195fb2;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/objects/search.js' %}"></script>
    <script src="{% static 'js/objects/object-ajax.js' %}"></script>
    <script src="{% static 'js/ajaxes.js' %}"></script>
    <script src="{% static 'js/urls.js' %}"></script>
    <script src="{% static 'js/objects/contract.js' %}"></script>
    <script src="{% static 'js/objects/tps.js' %}"></script>
    <script src="{% static 'js/objects/dicts.js' %}"></script>
    <script src="{% static 'js/objects/objects.js' %}"></script>
    <script src="{% static 'js/objects/obj-procedures.js' %}"></script>
    <script src="{% static 'js/business-rule.js' %}"></script>
{% endblock %}

{% block content %}
    {% if current_class %}
        <div class="{{ message_class }}" id="div_msg">{{ message|safe }}</div>
        <div class="card">
            <form id="form" onsubmit="return false" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body" style="height: 80vh">
                    <h4><a href="contract?class_id={{ request.GET.class_id }}">{{ title }} ID:
                        {{ request.GET.class_id }}</a></h4>
                        {% include 'objects/search_filter.html' %}
                    <div class="row" style="height: 80%">
                        <div class="col h-100 overflow-auto">
                            {# дерево #}
                            {% if request.session.temp_object_manager.tree %}
                                {% include 'objects/tree-table.html' %}
                            {% endif %}
                            {# Таблица данных #}
                            {% include 'objects/object-table.html' %}
                            {#  Пагинация#}
                            {% include 'objects/pagination.html' %}
                        </div>
                        {# Управление#}
                        {% include 'objects/control-form.html' %}
                    </div>
                </div>
                {# скрытые поля #}
                <div class="tag-invis">
                    <input type="hidden" name="class_id" value="{{ request.GET.class_id }}">
                    {% for dict in request.session.temp_object_manager.my_dicts %}
                        <input type="hidden" id="dict_info{{ dict.id }}" name="dict_info{{ dict.id }}">
                    {% endfor %}
                    <input id="delete_dict" name="delete_dict">
                {# Заголовки полей #}
                {% for h in headers %}
                    <span id="header_info{{ h.id }}">{{ h|json_dumps }}</span>
                {% endfor %}
                {# массивы #}
                <span id="s_arrays_hist"></span> {# история всех массивов #}
                <span id="s_arrays">{{ request.session.temp_object_manager.arrays|json_dumps }}</span>
                {# Техпроцессы #}
                <span id="tps">{{ request.session.temp_object_manager.tps|json_dumps }}</span>
                <span id="tps2">{{ request.session.temp_object_manager.tps4fe|json_dumps }}</span>
                <input id="page" name="page" value="{{ paginator.page_num }}">
                <span id="s_object_hist"></span>
                <span id="s_current_version"></span>
                <span id="s_time_line_list"></span>
                <span id="s_drafts"></span>
                <input id="i_search_filter" name="i_search_filter" value="{{ search_filter|json_dumps }}">
                </div>
            </form>
        </div>
        {# Подсказки#}
        <div>
            <b>Подсказки:</b><br>
            <span class="text-red">*</span> &mdash; поле, обязательное к заполнению
        </div>
    {% else %}
        <h3>Контрактов пока нет</h3>
    {% endif %}

{% endblock %}