{% extends 'partials/../base/base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
    <style>
    .btn-outline-primary:hover {
        background-color: #195fb2;
    }
    input[type=range]{
       height: 2px;
        margin-top: 10px;
        background-color: #195fb2;
    }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/objects/search.js' %}"></script>
    <script src="{% static 'js/objects/object-ajax.js' %}"></script>
    <script src="{% static 'js/ajaxes.js' %}"></script>
    <script src="{% static 'js/urls.js' %}"></script>
    <script src="{% static 'js/objects/dictionary.js' %}"></script>
    <script src="{% static 'js/objects/objects.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="div_msg" class="{{ message_class }}">{{ message|safe }}</div>
    <div class="card">
        <form id="form" onsubmit="return false" method="post">
            {% csrf_token %}
            <div class="card-body" style="height: 100vh">
                <h4><a href="dictionary?class_id={{ request.GET.class_id }}&parent_id={{ request.POST.parent_id }}
                &parent_type={{ request.POST.parent_type }}"
                >Словарь "{{ class_name }}" ID: {{ request.GET.class_id }}</a></h4>
                {% include 'objects/search_filter.html' %}
                <div class="row" style="height: 85%">
                    <div class="col h-100 overflow-auto">
                        {# Таблица данных #}
                        {% include 'objects/dict-table.html' %}
                        {#  Пагинация#}
                        {% include 'objects/pagination.html' %}
                    </div>
                    {# Управление#}
                    <div class="col-6 h-100 overflow-auto">
                        {# Ползунок истории #}
                        {% include 'objects/timeline_slider.html' %}
                        {# Собственник #}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Собственник</span>
                            <input id="i_owner" name="i_owner" class="form-control" style="width: 7rem; flex: none;
                            background-color: white"
                                   oninput='ajax_link_def($("#parent_id").val(), this.value,
                                   $("#parent_type").val(), $("#s_owner")[0]), promp_owner(this)' readonly list="dl_owner">
                            <datalist id="dl_owner"></datalist>
                            <span id="s_owner" class="input-group-text"></span>
                        </div>
                        {% for h in headers %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><a target="_blank" id="a_label_{{ h.id }}">{{ h.name }}</a></span>
                                {% if h.formula == 'bool' %} {# Если переменная логическая #}
                                    <input type="hidden" name="chb_{{ h.id|stringformat:'d' }}" value="False">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="chb_{{ h.id|stringformat:'d' }}"
                                    name="chb_{{ h.id|stringformat:'d' }}" value="True">
                                    </div>
                                {% elif h.formula == 'link' %} {# Если переменная - ссылка #}
                                    <input class="form-control" id="i_link_{{ h.id|stringformat:'d' }}"
                                           name="i_link_{{ h.id|stringformat:'d' }}" list="dl_link_{{ h.id }}"
                                            oninput="dict_link_promp(this)" style="width: 7rem; flex: none" type="number">
                                    <datalist id="dl_link_{{ h.id }}"></datalist>
                                    <span class="input-group-text" id="s_link_{{ h.id|stringformat:'d' }}"></span>
                                {% elif h.formula == 'datetime' %}  {# Если Дата-время #}
                                    <input class="form-control" id="i_datetime_{{ h.id|stringformat:'d' }}"
                                    name="i_datetime_{{ h.id|stringformat:'d' }}" type="datetime-local">
                                {% elif h.formula == 'date' %}  {# Если Дата #}
                                    <input class="form-control" id="i_date_{{ h.id|stringformat:'d' }}"
                                    name="i_date_{{ h.id|stringformat:'d' }}" type="date">
                                {% elif h.formula == 'float' %} {# Если переменная - число #}
                                    <input class="form-control" id="i_float_{{ h.id|stringformat:'d' }}"
                                    name="i_float_{{ h.id|stringformat:'d' }}" type="number">
                                {% elif h.formula == 'enum' %} {# Если переменная - перечисление #}
                                    <select class="form-control" id="s_enum_{{ h.id|stringformat:'d' }}"
                                            name="s_enum_{{ h.id|stringformat:'d' }}">
                                        {% for enum in h.default %}
                                            <option value="{{ enum }}">{{ enum }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif h.formula == 'eval' %}  {# Если формула #}
                                    <input class="form-control" id="ta_{{ h.id|stringformat:'d' }}" readonly
                                    style="background-color: white">
                                {% elif h.formula == 'const' %} {# Если алиас #}
                                    <input class="form-control" id="i_alias_{{ h.id|stringformat:'d' }}" readonly
                                           style="background-color: white">
                                    <select class="form-control" id="s_alias_{{ h.id|stringformat:'d' }}"
                                    name="s_alias_{{ h.id|stringformat:'d' }}">
                                        {% for c in h.const %}
                                            <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif h.formula == 'array' %} {# Если массив #}
                                    <span class="input-group-text">
                                        <a target="_blank" href="manage-object?class_id={{ h.id }}&input_owner="
                                           id="a_array_{{ h.id }}">Редактировать</a></span>
                                {% else %}
                                    <textarea class="form-control" name="ta_{{h.id|stringformat:'d' }}"
                                              id="ta_{{ h.id|stringformat:'d' }}"
                                              style="min-height: 1rem; height: auto"></textarea>
                                {% endif %}
                            </div>
                            {% if h.formula == 'array' %}
                                {# Подчиненная таблица #}
                                <div id="div_table_slave_{{ h.id }}" style="margin-top: -1rem"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {#   Кнопки управления объектами #}
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" style="background-color: #195fb2;
                            border-color: #195fb2; min-width: 100px" onclick="new_obj()">
                                Новый</button>
                            <button id="b_save_dict" class="btn btn-primary" style="background-color: #195fb2;
                            border-color: #195fb2; min-width: 100px">Сохранить</button>
                            <button type="button" class="btn btn-primary" style="background-color: #195fb2;
                            border-color: #195fb2; min-width: 100px" onclick="pack_search(); send_form_with_param('b_undo')">
                                Восстановить</button>
                            <button type="button" class="btn btn-danger" style="min-width: 100px"
                                    onclick="$('#delete_object_modal').modal('show');" >
                                Удалить</button>
                        </div>
                        {# Модальное окно удаления объекта#}
                        <div class="modal fade" id="delete_object_modal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">Удаление контакта</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div class="form-group">
                                      Вы пытаетесь удалить объект. Действие необратимо. Подтвердите намерение.
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                  <button type="button" class="btn btn-danger"
                                          onclick="pack_search();send_form_with_param('b_delete')">Удалить</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            {# скрытые поля #}
            <div class="tag-invis">
                <input type="hidden" name="class_id" value="{{ request.GET.class_id }}">
                <input id="parent_type" name="parent_type" value="{{ parent_type }}">
                <input id="parent_id" name="parent_id" value="{{ parent_id }}">
                <input name="page" id="page" value="{{ paginator.page_num }}">
                {# Заголовки полей #}
                {% for h in headers %}
                    <span id="header_info{{ h.id }}">{{ h|json_dumps }}</span>
                {% endfor %}
                <span id="s_object_hist"></span>
                <span id="s_current_version"></span>
                <span id="s_time_line_list"></span>
                <span id="s_draft">{% if draft %}{{ draft|json_dumps }}{% endif %}</span>
                <input id="i_search_filter" name="i_search_filter" value="{{ search_filter|json_dumps }}">
            </div>
        </form>
    </div>

{% endblock %}