
{# Модальное окно удаления объекта#}
<div class="modal fade" id="delete_object_modal" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Удаление контракта</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              Вы пытаетесь удалить объект. Действие необратимо. Подтвердите намерение.
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-danger"
                  onclick="pack_search();send_form_with_param('b_delete')">Удалить</button>
      </div>
    </div>
  </div>
</div>

{# Модальное окно удаления словаря#}
<div class="modal fade" id="delete_dict_modal" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Удаление записи словаря</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              Вы пытаетесь удалить запись словаря. Действие необратимо. Подтвердите намерение.
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-danger" onclick="send_form_with_param('b_delete_dict')"
          >Удалить</button>
      </div>
    </div>
  </div>
</div>

{# Универсальное модальное окно #}
<div class="modal fade" id="universal_modal" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="span_header"></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group" id="div_body_text"></div>
      </div>
      <div class="modal-footer" id="div_buttons">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-danger" id="button_do_name"></button>
      </div>
    </div>
  </div>
</div>

{# модальное окно работы с техпроцессами #}
<div class="modal fade" id="tp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="s_tp_modal_header"></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group" id="d_tp_modal_body"></div>
      </div>
      <div class="modal-footer" id="div_buttons">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancel_change_tp()">Отмена</button>
          <button type="button" class="btn btn-danger" onclick="get_routs()" id="b_tp_ok">OK</button>
      </div>
    </div>
  </div>
</div>