{% load my_filters %}

<table id="data-table" class="table table-hover table-responsive-md table_sort"
       style="width:100%">
    <thead>
        <tr style="cursor: pointer;" class="row">
            <th class="col-1 text-right col_sort">Код</th>
            {% for h in headers %}
                {% if h.is_visible or h.formula == 'array' %}
                    <th
                        {% if h.formula == 'array' %}
                            class="tag-invis"
                        {% else %}
                            class="col text-center col_sort">{{ h.name }}
                        {% endif %}
                    </th>
                {% endif %}
                <th class="tag-invis" id="header_info{{ h.id }}">{{ h|json_dumps }}</th>
            {% endfor %}
            {# Пропишем словари в заголовках, если они там есть #}
            {% for md in request.session.temp_object_manager.my_dicts %}
                <th class="tag-invis" id ='header_dict{{ md.id }}'>{{ md|json_dumps }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% load l10n %}
        {# Объекты #}
        {% for object in objects %}
            <tr onclick="select_active_object(this)" id="{{ object.code|stringformat:'d' }}"
            {% if request.POST.i_code == object.code|stringformat:'d' %}
                class="row table-active"
            {% else %}
                class='row'
            {% endif %}
            >
                <td class="col-1 text-right">{{ object.code|stringformat:'d'  }}</td>
                {% for h in headers %}
                    {% if h.is_visible or h.formula == 'array' %}
                        <td id="{{ h.id }}|{{ object.code|stringformat:'d' }}"
                            {% if h.is_visible == True %}
                                class="col text-center"
                            {% else %}
                                class = 'tag-invis'
                            {% endif %} style="word-break: break-all"
                        >{% if h.formula == 'link' %}  {# Если тип данных ссылка #}
                            {% with link_data=object|get_item:h.id %}
                                {% if link_data.value %}
                                    <a target="_blank" href="/{% if h.value.0 == 't' %}manage-object{% else %}contract{% endif %}?class_id={{ link_data.data.parent_structure }}&object_code={{ link_data.data.code }}">
                                     {% for v in link_data.data.values %}
                                         {% if v.name == 'Наименование' or v.name == 'Дата и время записи' %}
                                            {{ v.value }}
                                         {% endif %}
                                     {% endfor %}
                                    </a>
                                {% endif %}
                            {% endwith %}
                        {% elif h.formula == 'bool' %} {# Если булевый тип #}
                            {% with bool_type=object|get_item:h.id %}
                                <span class="tag-invis">{{ bool_type.value }}</span>
                                <input type="checkbox" onclick="javascript: return false;"
                                    {% if bool_type.value %} checked{% endif %}>
                            {% endwith %}
                        {% elif h.formula == 'datetime' %} {# Датавремя #}
                            {% with datetime_object=object|get_item:h.id %}
                                <span id="idtr_{{ h.id }}|{{ object.code }}">
                                    {% if datetime_object %}
                                        {{ datetime_object.value|datetime_string_to_russian }}
                                    {% endif %}
                                </span>
                            {% endwith %}
                        {% elif h.formula == 'date' %}{# Дата #}
                            {% with date_object=object|get_item:h.id %}
                                {{ date_object.value|date_string_to_russin }}
                            {% endwith %}
                        {% elif h.formula == 'enum' %}{# Перечисление #}
                            {% with enum_object=object|get_item:h.id %}
                                {{ enum_object.value }}
                            {% endwith %}
                        {% elif h.formula == 'const' %}{# Если тип данных - константа #}
                            {% with formula=object|get_item:h.id %}
                                <span id="{{ h.id}}|{{formula.value }}">{{ formula.result }}</span>
                            {% endwith %}
                        {% elif h.formula == 'array' %}  {# Если тип данных - массив #}
                            {% with array=object|get_item:h.id %}
                                {% with headers_array=array.headers %}
                                    {% with objects_array=array.objects %}
                                        {% with class_id=h.id %}
                                            {% with code=object.code %}
                                                {% include 'partials/array-table.html' %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                            {# тип данных - файл #}
                        {% elif h.formula == 'file' %}
                            {% with enum_object=object|get_item:h.id %}
                                {{ enum_object.value|slice:"14:" }}
                            {% endwith %}
                        {% else %}
                            {% with cell=object|get_item:h.id %}
                                {% if cell.value %}
                                    {{ cell.value|safe }}
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
                <td class="tag-invis" id="json_object{{ object.code|stringformat:'d' }}">{{ object|json_dumps }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>