<div style="text-align: center">
    {% if paginator.page_num > 1 %}
        <button onclick="pack_search();$('#page').val(1);this.form.submit()" class="like-a">&nbsp; << &nbsp;</button>
    {% endif %}
    {% if paginator.items_pages.has_previous %}
        <button onclick="pack_search();$('#page').val({{ paginator.items_pages.previous_page_number }});this.form.submit()"
                class="like-a">&nbsp; < &nbsp;</button>
    {% endif %}
    Страница {{ paginator.page_num }} из {{ paginator.pages_count }}
    {% if paginator.items_pages.has_next %}
        <button onclick="pack_search();$('#page').val({{ paginator.items_pages.next_page_number }});this.form.submit()"
                class="like-a">&nbsp; > &nbsp;</button>
    {% endif %}
    {% if paginator.page_num != paginator.pages_count %}
        <button onclick="pack_search();$('#page').val({{ paginator.pages_count }});this.form.submit()"
                class="like-a">&nbsp; >> &nbsp;</button>
    {% endif %}
    <select name="q_items_on_page" onchange="$('#page').val(1);pack_search();this.form.submit()" style="cursor: pointer">
        {% with '10 20 50 100' as list %}
            {% for i in list.split %}
                <option value="{{ i }}"
                    {% if i == paginator.q_items_on_page|stringformat:'d' %}
                        selected
                    {% endif %}
                >{{ i }}</option>
            {% endfor %}
        {% endwith %}
    </select>
</div>