{% extends 'partials/../base/base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
    <style>
    .btn-outline-primary:hover {
        background-color: #195fb2;
    }
    .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Обзор";
    }
    input[type=range]{
       height: 2px;
        margin-top: 10px;
        background-color: #195fb2;
    }
    li {
        list-style-type: none;
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/constructors/constructors-ajax.js' %}"></script>
    <script src="{% static 'js/urls.js' %}"></script>
    <script src="{% static 'js/constructors/manage-object.js' %}"></script>
    <script src="{% static 'js/objects/dicts.js' %}"></script>
    <script src="{% static 'js/objects/objects.js' %}"></script>
    <script type="text/javascript" src="{% static 'dompurfy/purify.min.js' %}"></script>
    <script src="{% static 'html2canvas/html2canvas.min.js' %}"></script>
    <script src="{% static 'jsPDF-master/dist/jspdf.umd.js' %}"></script>
    <script src="{% static 'jsPDF-AutoTable-master/dist/jspdf.plugin.autotable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fonts/PTSans-normal.js' %}"></script>
    <script>
        function createPdfList_onButton() {
            var doc = new jspdf.jsPDF();
            doc.setFont('PTSans');
            var Name_ref = "{{ class_name }}";
            doc.text(10, 10, "Справочник "+Name_ref);
            doc.autoTable({ html: '#data-table', styles: {fontSize:7, font: 'PTSans', fontStyle: 'normal'} });
            window.open(doc.output('bloburl'), '_blank');
        }
    </script>
    <script>
        function createPdfObject_onButton() {
            var parent_source = window.document.getElementsByClassName("col-6")[0];
            var source = parent_source;

            var doc = new jspdf.jsPDF('p','px','a4',true);
            doc.setFont("PTSans","normal");
            doc.setFontSize(7);
            doc.setDisplayMode(1, 'single', 'UseOutlines');
            var Name_ref = "{{ class_name }}";
            doc.text(10, 10, "Справочник "+Name_ref);
            window.html2canvas = html2canvas;
            var elementHandler = {
              '#ignorePDF': function (element, renderer) {
                return true;
              }
            };
            source.style.fontFamily = "PTSans";
            source.style.flex = '0 0 80%';
            source.style.maxWidth = '80%';
            doc.html(
                source,{
                    html2canvas: {
                        scale: 0.30,
                    },
                'x': 15,
                'y': 15,
                'elementHandlers': elementHandler
                }).then(() => {
                    window.open(doc.output('bloburl'), '_blank');
                    source.style.fontFamily = "";
                    source.style.flex = '0 0 50%';
                    source.style.maxWidth = '50%';
                });
        }
    </script>
{% endblock %}

{% block content %}
    {% if message %}
        <div class="{{ message_class }}">{{ message|linebreaks }}</div>
    {% endif %}
    <div class="card">
        <form id="form" onsubmit="return false" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <h4><a href="manage-object?class_id={{ request.GET.class_id }}">{{ title }} ID:
                    {{ request.GET.class_id }}</a></h4>
                <div class="filter-block">
                    <div class="my-inline-blocks">
                        <span><b>Поиск</b></span>
                    <input type="text" id="input_search" name="input_search" class="form-control search-filter"
                           style="width: 240px;
                    display: inline; padding: 0"
                       {% if request.POST.input_search %}
                           value="{{ request.POST.input_search }}"
                       {% endif %}>
                    {% if 'owners' in request.session.temp_object_manager %}
                        <span><b>Собственник</b></span>
                        <input class="form-control search-filter" name="input_owner"
                               {% if 'input_owner' in request.POST %}
                                    value="{{ request.POST.input_owner }}"
                               {% endif %}
                        list="list_owner" style="width: 5rem; display: inline; padding: 0">
                        <datalist id="list_owner">
                            {% for owner in request.session.temp_object_manager.owners %}
                                <option value="{{ owner.code }}">{{ owner.Наименование }}</option>
                            {% endfor %}
                        </datalist>
                    {% endif %}
                    <input type="button" onclick="send_form_with_param(null)" value="Найти" class="btn btn-outline-primary"
                           style="vertical-align: top; width: 130px;">
                    <input type="button" onclick="createPdfList_onButton()" value="Export list" class="btn btn-outline-primary"
                           style="vertical-align: top; width: 130px;">
                    <input type="button" onclick="createPdfObject_onButton()" value="Export object"
                           class="btn btn-outline-primary" style="vertical-align: top; width: 130px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {# Таблица данных #}
                        {% include 'objects/objects-tree.html' %}
                        {% include 'partials/pagination.html' %}
                    </div>
                    {# Управление#}
                    <div class="col-6">
                        {# Черновики #}
                    {% if objects.0.type == 'table' %}
                        <div class="tag-invis" id="d_drafts">
                            <span class="input-group-text">Черновики</span>
                            <select class="form-control" id="s_draft_vers" onchange="select_draft(this)"></select>
                        </div>
                    {% endif %}
                        {# Ползунок истории #}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Версия</span>
                            <span class="form-control" id="s_hist_range"></span>
                            <input type="range" class="form-control-range" id="i_hist_range" onchange="moove_time()"
                                   value="1" max="1" list="steplist">
                            <datalist id="steplist"></datalist>
                        </div>
                        {# Код объекта #}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><a target="_blank" id="a_code">Код</a></span>
                            <input id="i_code" name="i_code" readonly class="form-control"
                                   style="background-color: white">
                        </div>
                        {# Родительская ветка #}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Ветка</span>
                            <input id="i_branch" name="i_branch" type="number" class="form-control" style="background-color: white">
                        </div>
                        {% for h in headers %}
                            {% if h.formula == 'array' %}
                                <div style="border: 1px solid #ced4da; border-radius: 0.25rem;" class="mb-3">
                            {% endif %}
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <a target="_blank" id="a_label_{{ h.id }}">{{ h.name }}</a>
                                    {% if h.is_required %}
                                        <sup class="text-red"><big>*</big></sup>
                                    {% endif %}
                                </span>
                                {% if h.formula == 'bool' %} {# Если переменная логическая #}
                                    <input type="hidden" name="chb_{{ h.id|stringformat:'d' }}" value="False">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="chb_{{ h.id|stringformat:'d' }}"
                                    name="chb_{{ h.id|stringformat:'d' }}" value="True">
                                    </div>
                                {% elif h.formula == 'link' %} {# Если переменная - ссылка #}
                                    <input class="form-control" id="i_link_{{ h.id|stringformat:'d' }}"
                                           name="i_link_{{ h.id|stringformat:'d' }}"
                                           oninput="get_link_ajax(this), promp_link(this)"
                                           style="width: 7rem; flex: none" list="dl_{{ h.id|stringformat:'d' }}">
                                    <datalist id="dl_{{ h.id|stringformat:'d' }}"></datalist>
                                    <span class="input-group-text" id="s_link_{{ h.id|stringformat:'d' }}"></span>
                                {% elif h.formula == 'datetime' %}  {# Если Дата-время #}
                                    <input class="form-control" id="i_datetime_{{ h.id|stringformat:'d' }}"
                                    name="i_datetime_{{ h.id|stringformat:'d' }}" type="datetime-local">
                                {% elif h.formula == 'date' %}  {# Если Дата #}
                                    <input class="form-control" id="i_date_{{ h.id|stringformat:'d' }}"
                                    name="i_date_{{ h.id|stringformat:'d' }}" type="date">
                                {% elif h.formula == 'float' %} {# Если переменная - число #}
                                    <input class="form-control" id="i_float_{{ h.id|stringformat:'d' }}"
                                    name="i_float_{{ h.id|stringformat:'d' }}" type="number">
                                {% elif h.formula == 'enum' %} {# Если переменная - перечисление #}
                                    <select class="form-control" id="s_enum_{{ h.id|stringformat:'d' }}"
                                            name="s_enum_{{ h.id|stringformat:'d' }}">
                                        {% for enum in h.value %}
                                            <option value="{{ enum }}">{{ enum }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif h.formula == 'eval' %}  {# Если формула #}
                                    <div class="form-control" id="div_formula_{{ h.id|stringformat:'d' }}"></div>
                                {% elif h.formula == 'const' %} {# Если алиас #}
                                    <input class="form-control" id="i_alias_{{ h.id|stringformat:'d' }}" readonly
                                           style="background-color: white">
                                    <select class="form-control" id="s_alias_{{ h.id|stringformat:'d' }}"
                                    name="s_alias_{{ h.id|stringformat:'d' }}" onchange="recount_alias(this)">
                                        {% for c in h.const %}
                                            <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif h.formula == 'array' %} {# Если массив #}
                                    <span class="input-group-text">
                                        <a target="_blank" href="manage-object?class_id={{ h.id }}&input_owner="
                                           id="a_array_{{ h.id }}">Редактировать</a></span>
                                {% elif h.formula == 'file' %}  {# Если файл #}
                                    <div class="custom-file" >
                                        <input type="file" class="custom-file-input" id="i_file_{{ h.id|stringformat:'d' }}"
                                               oninput="change_file_label(this)" name="i_file_{{ h.id|stringformat:'d' }}">
                                        <input class="tag-invis" id="i_filename_{{ h.id|stringformat:'d' }}">
                                        <label class="custom-file-label" style="height: auto;"
                                               for="i_file_{{ h.id|stringformat:'d' }}"
                                               id="l_file_{{ h.id|stringformat:'d' }}">Выберите файл</label>
                                        <span class="tag-invis" id="s_filename_{{ h.id|stringformat:'d' }}"></span>
                                    </div>
                                    <button class="btn-outline-primary btn" id="b_show_file_{{ h.id|stringformat:'d' }}"
                                    title="расположение файла" onclick="show_file_location({{ h.id|stringformat:'d' }})"
                                            type="button">c:</button>
                                    <button class="btn-outline-primary btn" id="b_save_file_{{ h.id|stringformat:'d' }}"
                                    onclick="send_form_with_param('b_save_file', {{ h.id|stringformat:'d' }})"
                                    type="button">Скачать</button>
                                    <button class="btn btn-outline-danger" id="b_del_file_{{ h.id|stringformat:'d' }}"
                                    onclick="open_modal_with_params('b_del_file', {{ h.id|stringformat:'d' }})"
                                    type="button">Удалить</button>
                                {% else %}
                                    <textarea class="form-control" name="ta_{{h.id|stringformat:'d' }}"
                                              id="ta_{{ h.id|stringformat:'d' }}"
                                              style="min-height: 1rem; height: auto"></textarea>
                                {% endif %}
                            </div>
                            {% if h.formula == 'array' %}
                                {# Подчиненная таблица #}
                                <div id="div_table_slave_{{ h.id }}" style="margin-top: -1rem"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {# Словари #}
                        {% include 'partials/dict-in-object.html' %}
                        {# Кнопки управления #}
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" style="background-color: #195fb2;
                            border-color: #195fb2; min-width: 100px" onclick="new_obj()">
                                Новый</button>
                            <button type="button" class="btn btn-primary" style="background-color: #195fb2;
                            border-color: #195fb2; min-width: 100px" onclick="send_form_with_param('b_save')">
                                Сохранить</button>
                        {% if objects.0.type == 'table' %}
                            <button type="button" class="btn btn-secondary" onclick="send_form_with_param('b_draft')">
                                В черновик</button>
                        {% endif %}
                            <button type="button" class="btn btn-danger" style="min-width: 100px"
                                    onclick="$('#delete_object_modal').modal('show');" >
                                Удалить</button>
                        </div>
                        {# Модальные окна #}
                        {% include 'partials/modal_windows_objects.html' %}
                    </div>
                </div>
            </div>
            {# скрытые поля #}
            <div class="tag-invis">
                <input type="hidden" name="class_id" value="{{ request.GET.class_id }}">
                    {% for dict in request.session.temp_object_manager.my_dicts %}
                        <input type="hidden" id="dict_info{{ dict.id }}" name="dict_info{{ dict.id }}">
                    {% endfor %}
                <input id="delete_dict" name="delete_dict">
                {# Заголовки полей #}
                {% for h in headers %}
                    <span id="header_info{{ h.id }}">{{ h|json_dumps }}</span>
                {% endfor %}
                <input name="page" value="{{ request.POST.page }}">
                <span id="s_object_hist"></span>
                <span id="s_current_version"></span>
                <span id="s_time_line_list"></span>
                <span id="s_draft">{% if draft %}{{ draft|json_dumps }}{% endif %}</span>
                <span id="s_drafts"></span>
            </div>
        </form>
    </div>
    {# Подсказки#}
    <div>
        <b>Подсказки:</b><br>
        <span class="text-red">*</span> &mdash; поле, обязательное к заполнению
    </div>

{% endblock %}