{% load my_filters %}
<table id="tree-table" class="table table-hover table-responsive-md table_sort mb-0"
       style="width:100%">
    <thead>
        <tr style="cursor: pointer;" class="row">
            <th class="col">Ветка</th>
            {% if visible_headers %}
                {% for tvh in tree_visible_headers %}
                    <th class="col-1-5 text-center">{{ tvh.name }}</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% load l10n %}
        {% if show_find_result %}
            {% for t in fnd_tree %}
                {% with prefix='' %}
                    {% include 'objects/prop_node.html' %}
                {% endwith %}
                </tr>
            {% endfor %}
        {% else %}
            {% for t in request.session.temp_object_manager.tree %}
                {% with prefix='' %}
                    {% include 'objects/prop_node.html' %}
                {% endwith %}
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>