<nav class="nav flex-column">
    <a href="/manage-contracts" class="nav-link{% if request.path == '/manage-contracts' %} active text-bold{% endif %}">
        Конструктор контрактов
    </a>
    {# Дерево справочников #}
    <div class="nav-item dropdown">
        <a class="dropdown-toggle nav-link
            {% if request.path == '/contract' %}
                active text-bold
            {% endif %}
        " href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          Дерево контрактов
        </a>
        <div class="dropdown-menu" aria-labelledby="shops_dropdown">
            {{ request.session.contract_menu|safe }}
        </div>
    </div>
</nav>